canvas {
  /* eliminating the gap between 2 canvases --> https://stackoverflow.com/a/8600771 */
  display: block;
}

body {
  overscroll-behavior: contain;
}
/* https://stackoverflow.com/a/47709903 */

body {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  touch-action: none !important;
}
/* https://stackoverflow.com/a/41480220 */
/* https://github.com/hammerjs/hammer.js/issues/1050#issuecomment-267595556 */

/* #paperjs1 { */
/*   /\* position: absolute; *\/ */
/*   width: 50%; */
/*   height: 100%; */
/*   overflow: hidden; */
/*   z-index: -1; */
/* } */

/* #paperjs2 { */
/*   /\* position: absolute; *\/ */
/*   width: 50%; */
/*   height: 100%; */
/*   overflow: hidden; */
/*   z-index: -1; */
/* } */

canvas {
  width: 10%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

#objstring {
  position: fixed;
}

/* #objstring {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: none;
} */
